<header>

  <h1><a href="index.html"><img src="assets/images/icons/logo.svg"></a></h1>

  <nav>
    <a href="index#why">Why?</a>
    <a href="index#protection">Protection</a>
    <a href="index#how-it-works">How it Works</a>
    <a href="contact">Contact</a>
    <a href="index#buynow" class="button">Buy Now</a>
  </nav>

  <div id="nav-icon3">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

</header>

<div id="mobile-nav">
  <nav>
    <a href="index#why" class="mobileNavLink">Why?</a>
    <a href="index#protection" class="mobileNavLink">Protection</a>
    <a href="index#how-it-works" class="mobileNavLink">How it Works</a>
    <a href="contact" class="mobileNavLink">Contact</a>
  </nav>
</div>
